<html>
  <head></head>
  <body align='center'>
  	<h1>Hangman : Joshua Wootonn</h1>
    <h3>
        <%= @word_with_guesses %>
    </h3>
    <form action='submit'>
  	  Guess: <input type='text' name='guess' />	  
  	  <input type='submit' value='Enter' />
	  </form>
    <p> 
      Correct guesses: <%= @correct_letters %>
      </br>
      Incorrect Guesses: <%= @incorrect_letters %>
      </br>
      Guesses Left: <%= @attempts %>
    </p>
    
  </body>
</html>
